<h2 mat-dialog-title>Crear Instancia</h2>

<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="p.ej. mi-proyecto-dev" />
      <mat-error *ngIf="form.get('name')?.hasError('required')">Nombre obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Categoría</mat-label>
      <input matInput [value]="categoryValue" disabled />
    </mat-form-field>

    <!-- Checkbox solo para STAGING -->
    <mat-checkbox *ngIf="categoryValue === 'STAGING'" formControlName="neutralize" style="margin-top: 12px;">
        <strong>neutralize</strong> 
    </mat-checkbox>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid" (click)="submit()">Crear</button>
</mat-dialog-actions>
