<!-- Spinner superior -->
<mat-progress-bar *ngIf="isProcessing" mode="indeterminate" color="accent"></mat-progress-bar>

<!-- Spinner overlay centrado -->
<div class="overlay-spinner" *ngIf="isProcessing">
  <mat-spinner diameter="60" color="accent"></mat-spinner>
</div>

<div class="dashboard-wrapper" *ngIf="project">
  <div class="project-header">
    <h2>{{ project.name }}</h2>

  </div>

  <div *ngIf="loading" class="loading"> Cargando instancias...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="category-wrapper" *ngFor="let category of ['DEVELOPMENT', 'STAGING', 'PRODUCTION']">
    <h3 class="category-title">{{ category }}</h3>

    <div class="instances-grid">
      <div class="instance-card" *ngFor="let inst of categorizedInstances[category] || []">
        <h4>{{ inst.name }}</h4>
        <a [href]="inst.url" target="_blank">🌐 Abrir</a>

        <br />
        <button (click)="deleteInstance(inst)">🗑️ Eliminar</button>
        <a [routerLink]="['/projects', projectName, 'instance', inst.name]" [queryParams]="{ category: inst.category }">
          Ver Detalle
        </a>
      </div>
    </div>
  </div>
</div>