.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 48px; /* Aumentado el tamaño del spinner */
  height: 48px; /* Aumentado el tamaño del spinner */
  border-radius: 50%;
  border-left-color: #3498db;
  animation: spin 1.5s ease infinite; /* Ralentizado el giro para un efecto más fluido */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
