<div class="dashboard-wrapper">
  <h1>Mis Proyectos</h1>

  <div class="project-grid">
    <div class="project-card" *ngFor="let project of projects">
      <h3>{{ project.name }}</h3>

      <ul>
        <li><strong>Versión:</strong> {{ project.version }}</li>
        <li><strong>Licencia:</strong> {{ project.license || 'N/A' }}</li>
        <li><strong>Estado:</strong> {{ project.status }}</li>
        <li><strong>Ubicación:</strong> {{ project.location }}</li>
      </ul>

      <div class="card-actions">
        <button>Configuración</button>
        <button>GitHub</button>
        <a 
          class="open-btn"
          [routerLink]="['/projects', project.name]"
          >Abrir</a>
      </div>
    </div>
  </div>
</div>
