.settings-container {
  padding: 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.settings-form label {
  margin-top: 10px;
  font-weight: bold;
}

.settings-form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 15px; /* Añadido espacio entre los campos */
}

.settings-form input:focus {
  border-color: #3498db;
  outline: none;
}
